body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f0f0f0;
    padding: 10px;
    text-align: center;
}

nav a {
    margin: 0 10px;
    text-decoration:dashed, solid;
    color: #333;
}

section {
    padding: 20px;
}

.category {
    width: 25%;
    float: left;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.category-row {
    clear: both;
}

.category img {
    max-width: 100%;
    height: auto;
}
.placeholder{
    background-color: #ccc;
    width:100%;
    padding-top: 100%;
}

.category p {
    margin-top: 5px;
}

.allcategories{
    width: 50%;
    margin: 0 auto;

}

.popl {
    text-align: center;
    font-size: 48px;
}

.allcattext{
    text-align: center;
    font-size: 3rem;
}

.vazhno{
    margin: 0 auto; 
    width: 100px;
    align-items: center; 
}

.circleimg {
    display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  width: 250px;
  height: 250px;
}
.circle-image img {
    width: 250;
    height: 250;
    object-fit: cover;
  }

.qb {
    text-align: left;
    font-size: 48px;
}

.glav{
    text-align: center;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

footer {
    background-color: #333;
    color: white;
    
    padding: 10px;
    text-align: center;
    .foot{
        color:white;
    }

}


.dev-info{
    color: white;
}

@media (max-width: px) {
    .category {
        width: 50%;

    }
    .allcattext{
        p{
            font-size: 30px;
        }
    }
}
@media (max-width: 768px) {
    .category {
        width: 50%;

    }
    .allcattext{
        p{
            font-size: 30px;
        }
    }
}

@media (max-width: 576px) {
    .category {
        width: 100%;
    }
}


.search-container {
    display: inline-flex; 
    align-items: center;  
    border: 1px solid #ccc;
    border-radius: 1px;
    overflow: hidden; 
}

.search-input {
    padding: 15px;
    border: none;
    outline: none;
    font-size: 1rem;
    flex-grow: 1; 
    box-sizing: border-box;
}

.search-button {
  background-color: #f0f0f0;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-left: 1px solid #ccc;
    outline: none;
}

.search-button i{
  color: #ffe7e7;
}

.search-input:focus {
    border-color: #ffeaea;
}

@media (max-width: 768px) {
    .search-input {
        font-size: 2rem;
    }
}

